.food-display{
    /* width: 80%; */
 
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
    margin: 40px 0px;
    text-align: center;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}


.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination button:hover {
    background-color: #000000;
  }

  .explore_more{
    color: orangered;
    position: relative;
    top: 40%;
    left: 30%;
    cursor: pointer;
  }
 
